@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mynerve', cursive;
}

body {
    display: grid;
    min-height: 100vh;
}

header {
    display: flex;
    height: 11rem;
    width: 100vw;
    background-image: url("/public/images/images.jpg");
    background-position: center;
}

#spinner {
    display: none;
    margin: 3rem auto 0 auto;
}

footer {
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}